---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
<h1>Rhys Turner</h1>
<sub>Bio</sub>
	<p>
		Hong Kong based artist Rhys Turner seamlessly blends art and technology to enlighten through the viewer/user/author experience of his creations. After completing a Master of Visual Arts in Media Arts at Sydney College of the Arts in 2005 and receiving an Australian Postgraduate Award for his degree, Turner has been deeply engaged with interactive and new media modes. His journey began with an exhibition in the student section of "2001: A Space Odyssey: Sensation and Immersion" at the NSW Art Gallery in 2001. His work spans diverse interactive and new media forms, from Web, Video, and NetArt to Interactive Sculpture, Installations, and Performance.
</p><p>

	Turner's master's project, "Video Stereo," is part of his "Etherscapes" body of work. It utilizes a 1200 Technics turntable, a computer system, and a modified 1960s stereo unit to enable audience interaction with video and sound. This piece explores the societal influence of media and reverses that process by empowering the audience with control of the image. Other themes in his work include non-linear, chaotic, and 'micro' narratives, as well as alternative interfaces and digital aesthetics. Turner's creations challenge traditional perceptions, aiming to inspire thought and reflection on current social trends and imagery.
</p>
<p>

	During a residency at CESTA in Tabor, Czech Republic, Turner met "EU and A Little Mistake," a performance group of four dancers, and has aspired to collaborate with them ever since. During his stay, Turner developed an interactive tunnel with his collaborators, using sensors to trigger sound and light through physical computing. "EU & A Little Mistake" demonstrated a captivating synergy of contemporary performance, dance, and narrative, boasting a unique and seamless integration between the artists. Although a collaboration at CESTA did not materialize, the residency sparked a fusion of ideas and an investigative art project. These ideas, now in proposal form, aim to be realized through a collaborative process and residency. The project, titled "Move. Play. Find.," explores communication and awareness of contemporary social culture through an interactive performance/dance/narrative involving both the audience and artists.
</p>
<p>
Turner's past work, "Heard," an Experimenta Commission in Melbourne on 12th February 2010, employs complex tracking technology. Visitors wear a headpiece and become characters both physically and virtually in a projected 3D environment. Each character shares a story through conversations that unfold as participants move around the space and interact with the work. The artwork delves into online culture within physical space, presenting a new form of non-linear narrative.
	</p>

</Layout>
